<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Turismul_de_pretutindeni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\Turismul de pretutindeni\TurismDB.mdf;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="VacantePath"  value="C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\Turismul de pretutindeni\Resurse\Vacante.txt"/>
	</appSettings>
 <userSettings>
  <Turismul_de_pretutindeni.Properties.Settings>
   <setting name="LastEnteredEmail" serializeAs="String">
    <value />
   </setting>
  </Turismul_de_pretutindeni.Properties.Settings>
 </userSettings>
</configuration>